// Body
$body-bg: #ebedf0;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
//$font-size-base: 0.9rem;
//$line-height-base: 1.6;

// Colors
$blue: rgb(22, 92, 125);
$green: #00BF6F;
$red: rgb(255, 88, 93);

$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$orange: #f6993f;
$yellow: #ffed4a;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: $blue;
$secondary: $green;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;


$spacer: 1em;
$navbar-padding-y: $spacer * 0.8;
$navbar-padding-x: $spacer;
$navbar-nav-link-padding-x: 1rem;

.bg-light-grey {
  background-color: rgba(0, 0, 0, 0.075);;
}
